.App {
    text-align: center;
}

.App-logo {
    height: 180px;
}

.App-logo-animation {
    animation: App-logo-spin infinite 10s linear;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

@keyframes App-logo-spin {
    0% { transform: rotate(0deg) }
    10% { transform: rotate(90deg) }
    20% { transform: rotate(180deg) }
    30% { transform: rotate(270deg) }
    40% { transform: rotate(360deg) }
    100% { transform: scale(2, 2) }

    /*from { transform: rotate(0deg); }*/
    /*to { transform: rotate(360deg); }*/
}
